<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Anishmeme!</title>
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='image/favicon.png') }}">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
   <!--  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
  </head>
  <body>
    <h1>Welcome to Anishmeme! </h1>
    <h3>The online hub for memes about Anish (and sometimes Kate).</h3>
    <div class="meme">
        <img src="http://i.imgur.com/ZkxUzJb.png">
    </div>
    <div class="meme">
	<img src="http://i.imgur.com/NAlbSjT.png">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic1.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic2.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic3.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic4.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic5.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic6.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic7.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic8.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic9.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic10.jpg') }}">
    </div>
    <div class="meme">
      <img src="{{ url_for('static', filename='image/pic11.jpg') }}">
    </div>

  </body>
</html>
